<div class="d-none">
    <div class="room_id"><%- roomid %></div>
    <div class="room_user"><%- room_user %></div>
    <div class="room_temp"><%- room_temp %></div>
    <div class="thermostat"><%- thermostat %></div>
    <div class="max_temp"><%- max_temp %></div>
    <div class="min_temp"><%- min_temp %></div>
    <div class="email"><%- email %></div>
    <div class="name"><%- name %></div>
    <div class="mobno"><%- mobno %></div>
</div>