<%- include('partials/header') %>
<body class = "tempnormal">
    <%- include('partials/data') %>
    <!-- navbar header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="/assets/logo.png" alt="logo" width="30" height="24" class ="d-inline block" id = "logo">
                TemperaturA
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <%- include('partials/navlinks') %>
                <form class = "justify-content" action="/new_user">
                    <button class = "btn btn-outline-light me-2" type="submit">New User</button>
                </form>
                <form class = "justify-content" action="/logout?_method=DELETE" method="POST">
                    <button  class = "btn btn-outline-light me-2" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    
    <!-- Temperature Dashboard -->
    <div class="roomtemp py-4 text-center">
        <div class="container">
            <h2 class="display-1 my-4">34<span class="align-top" id="unit">&deg;</span>c</h2>
        </div>
    </div>
    <!-- Room List View -->
    <div class="container text-center room-id mb-4">
            <div class="row">
                <div class="col btn">
                    <i class="bi bi-chevron-left arrow"></i>
                </div>
                <div class="col">
                    <div class="display-6 text-uppercase">
                        <select name="" id="" class="form-select">
                                <option selected value =0>Select Room</option>
                                <% let list = '';
                                for(let i=0;i<rooms.length;i++){
                                    list += `<option value=${rooms[i].room_id}>Room No ${rooms[i].room_id}</option>`;
                                }%>
                                <%- list %>
                            </select>
                            
                        </select>
                    </div>
                </div>
                <div class="col btn">
                    <i class="bi bi-chevron-right arrow"></i>
                </div>
            </div>
    </div>
    <!-- Card Containing Room and User Details -->
    <div class="container text-center room-info">
        <div class="card border-dark mb-3">
            <div class="card-header text-uppercase">
                <div class="row">
                    <label for="roomid" class="col-sm-2 col-form-label col-form-label-sm">Room ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="roomid" placeholder="Room No">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text text-start">
                    <div class="row mb-3">
                        <!-- user info -->
                        <form id = "user" action="">
                        <!-- <div class="col"> -->
                             <div class="row mb-3">
                                <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control form-control-sm" id="name" placeholder="User Name">
                                </div>
                             </div>
                             <div class="row mb-3">
                                <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control form-control-sm" id="email" placeholder="Email">
                                </div>
                             </div>
                             <div class="row mb-3">
                                <label for="mobno" class="col-sm-2 col-form-label col-form-label-sm">Mob No</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control form-control-sm" id="mobno" placeholder="Mobile No">
                                </div>
                             </div>
                        <!-- room info -->
                            <div class="row mb-3">
                                <label for="temp" class="col-sm-2 col-form-label col-form-label-sm">Thermostat</label>
                                <div class="col-sm-8">
                                  <input type="range" class="form-range form-rage-sm" min =16 max=42 step = 0.5 id="temp">
                                </div>
                                <div class="col-sm-2 text-center text-success tp">34&deg;c</div>
                              </div>
                              <div class="row mb-3">
                                <label for="tempmin" class="col-sm-2 col-form-label col-form-label-sm">Min Temp</label>
                                <div class="col-sm-8">
                                  <input type="range" class="form-range form-range-sm" min =-10 max=45 step = 0.5 id="tempmin" >
                                </div>
                                <div class="col-sm-2 text-center text-primary tn">0&deg;c</div>
                              </div>
                              <div class="row mb-3">
                                <label for="tempmax" class="col-sm-2 col-form-label col-form-label-sm">Max Temp</label>
                                <div class="col-sm-8">
                                  <input type="range" class="form-range form-range-sm" min =-10 max=45 step = 0.5 id="tempmax">
                                </div>
                                <div class="col-sm-2 text-center text-danger tx">100&deg;c</div>
                            </div>
                    </div>
                    <div class="input-group text-danger">
                        <% if (messages.error) { %>
                            <%= messages.error %>
                        <% } %>
                    </div>
                    <div class="input-group text-danger">
                        <% if(errorMessage!='') { %>
                            <%- errorMessage %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-light btn-outline-dark edit" type="submit"> <i class="bi bi-pencil db"></i> Edit Room Info</button>
                        <button class="btn btn-light btn-outline-dark d-none save" type="submit"><i class="bi bi-save db"></i> Save Room Info</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark"><a href = "tel:+919330319099"><i class="bi bi-telephone db"></i> Contact Admin</a></button>
                    </div>
                </div>
                
            </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="./scripts/admin.js"></script>
</body>